# This is the repository's global gitignore file

# To set an git ignore exception across all folders within the repository, include `**` before the file or folder. For example, **/.idea

# For more patterns, visit https://git-scm.com/docs/gitignore#_pattern_format

## Files to be ignored start here

## macOS files
**/.DS_Store

## Generic files to avoid including to this repo
**/*.log
**/*.csr
**/*.jks
**/*.keystore
**/*.pem
**/*.key
**/*.pub
**/*.ppk
**/id_rsa

**/__pycache__